.container-dictionary {
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 45px;
    align-content: flex-start;
    justify-content: space-between;
  }
  
  .recently-searched-words {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-of-words {
   list-style-position: inside;
  }

  .list-of-words-item-span {
    margin-right: 0.5em;
  }

  .row-dictionary-more-example {
    text-align: left;
  }

  .item-word-alternative{
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
  }

  .item-word-synonym {
    margin-bottom: 10px;
  }

  .item-word-synonym-content {
    background-color: #ecf2fc;
    border-radius: 5px;
    padding: 3px;
  }
