.container-translate {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px #f3f4f9;
  }
  

  .row {
    display: flex;
    --mdb-gutter-x: 0;
  }

  .row-input-field {
    border-top: 1px solid #e0e0e2;
  }

  .row-language-field {
    margin-top: 10px;
    padding: 10px
  }
  
  .column {
    flex: 1;
  }

  .column-2 {
    flex: 0 0 5%;
  }

  .language-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .language-title:hover {
    cursor: pointer;
  }
  
  .input-text {
    width: 100%;
    height: 250px;
    text-align: left;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 500;
  }

  .input-text-to {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .column-text-to {
    background-color: #f3f4f9;
    width: 100%;
  }

  .copy-button {
    border: none;
    background-color: #f3f4f9;
  }

  .tooltip {
    font-size: 10px;
  }

  [data-placeholder]:empty:before{
    content: attr(data-placeholder);
    color: #888;
    font-style: italic;
    display: flex;
    font-size: 20px;
  }

  [data-placeholder]:empty:hover:before{
    cursor: text;
  }

  .row-dictionary {
   display:flex;
   flex-direction: column;
    width: 45%;
  }

  .row-alter {
    width: 50%;
  }

  .input-text {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
  }

  .input-text-from:focus {
    outline:none;
  }

  .input-text-from {
    resize: none;
    border: none;
    outline: none;
    width: inherit;
    height: 240px;
  }

  .icon-element:hover{
    cursor: pointer;
  }

  .tooltip {
    font-size: 10px;
  }

  .column.input-text {
    position: relative; 
  }

  .icon-element-remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
  }

  .input-text-to {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .bottom-translate-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .bottom-translate-icons > * + * {
    margin-left: 10px;
  }

  .translate-to-icon {
    cursor: pointer;
  }

  .rate-icon {
    display: flex;
    padding: 3px;
    width: 70px;
    justify-content: space-between;
  }

  .rate-icon-single {
    background-color: #cdd3e0;
    padding:5px;
  }

  .rate-icon-single-clicked {
    background-color: #424447;
    padding: 5px;
    color: white;
  }

  .rate-icon-single:hover {
    background-color: #c1cbdf;
  }

  .icon-dislike {
    padding-right: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .icon-like {
    padding-left: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .icon-dislike-clicked {
    padding-right: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .icon-like-clicked {
    padding-left: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .icon-share-btn {
    color: #4f4f4f;
  }