.App {
  text-align: center;
}

.title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
}

.yandex {
  font-weight: 550;
  font-family: "Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
}

.first-letter {
  color: red;
  padding-left: 5px;
}